@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-w-[320px] bg-black font-sans text-16 leading-normal text-white antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .with-list {
    ul {
      @apply my-5 space-y-2 pl-11 md:space-y-2.5 md:pl-8 sm:my-4;

      > li {
        @apply relative;

        &::before {
          @apply absolute -left-2.5 top-2.5 h-1.5 w-1.5 -translate-x-full rounded-full bg-primary-1 content-[''];
        }
      }
    }
  }

  .profile-avatar::before {
    @apply absolute bottom-0 left-0 right-0 top-0 rounded-[inherit] transition-all duration-200 content-[''];

    background: linear-gradient(-160deg, rgba(0, 163, 255, 1), rgba(128, 44, 255, 1));
  }

  .profile-avatar:hover::before {
    filter: grayscale(1);
  }

  .profile-avatar::after {
    @apply absolute left-auto top-auto h-36 w-36 rounded-[inherit] bg-black content-[''];
  }
}
